<nav class='navbar navbar-expand-lg navbar-light bg-light'>
    <ul class='navbar-nav mr-auto'>
        <%= link_to 'Blog On Rails', '/' %>
    </ul>
    <div >
        <%= link_to 'Home', posts_path, class:'homeclass' %>
        <%= link_to 'New Post', new_post_path %>
    </div>
</nav>