<% @post.each do |p| %>

<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">
            <%= link_to p.title, post_path(p) %>
        </h5>
        <p class="card-text">
            <%= p.body%>
        </p>
    </div>
</div>
<% end %>



<!-- <% @post.each do |p| %>
<ul class="list-group">
    <li class="list-group-item">
        <%= link_to p.title, post_path(p) %>
    </li>
    <li class="list-group-detail">
        <%= p.body%>

    </li>
</ul>
<% end %> -->





<!-- <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                #<h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                #<a href="#" class="card-link">Card link</a>
                #<a href="#" class="card-link">Another link</a>
            </div>
        </div> -->